.w-100 {
    width: 100% !important;
    height: 55vh;
}
.img-fluid {
    max-width: 50%;
    height: auto;
}
.flex-middle {
    display: flex;
    align-items: center;
}
.list-group{
    max-height: 500px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
.img{
    height: 400px;
    background-size: cover;
    background-position: center;
}
/* .card:last-of-type{
    flex-shrink: 1;
    max-width: 300px;
} */
